*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  color: #fff;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.page {
  display: flex;
  justify-content: center;
  padding-right: 10px;
}

.content {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 1140px;
  padding-top: 136px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-block-start: 11px;
}

.search-form:last-child {
  align-items: flex-end;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  padding-block-end: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}

.result {
  margin-left: 25px;
}

.result__video-container {
  position: relative;
  padding-top: 76px;
  inline-size: 711px;
}

.result__video {
  object-fit: cover;
  block-size: 386px;
  inline-size: 100%;
}

.content__list-container {
  position: relative;
  margin-right: 13px;
  overflow-x: hidden;
  overflow-y: auto;
  inline-size: 399px;
  block-size: 298px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  padding-right: 3px;
}

.content__video-card-thumbnail {
  width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 24px;
  block-size: 534px;
}

.content__video-card-title {
  display: block;
  max-width: 196px;
  overflow: hidden;
  color: #ffffff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  padding-top: 3px;
  color: #ffffff;
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0%;
}

.title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  width: 225px;
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  color: #fff;
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  background: transparent;
  cursor: text;
  appearance: none;
}

.search-form__textfield:active {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
  color: #fff;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  border: none;
  padding: 0px 2px 4px 0px;
}

.search-form__checkbox-list :hover {
  text-decoration: underline;
}

.search-form__label {
  cursor: pointer;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: block;
  margin-right: 5px;
  border: 1px solid #fff;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  background-color: #fff;
  transform: translate(-50%, -50%);
  inline-size: 15px;
  block-size: 15px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background: transparent;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  cursor: pointer;
}

.more-button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 34px;
  margin-top: 24px;
  cursor: pointer;
}

.search-form__submit-button:focus {
  outline: none;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.morebutton:focus {
  outline: none;
}

.morebutton:focus-visible {
  margin: 2px;
  outline: none;
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__card-link {
  display: block;
  overflow: visible;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  margin: 2px;
  outline: 1px solid #fff;
}
